{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}
<title>{% block title %}{{ title | default('@debemdeboas') }}{% endblock %}</title>
<link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='icon/apple-touch-icon.png')}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='icon/favicon-32x32.png')}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='icon/favicon-16x16.png')}}">
<link rel="manifest" href="{{url_for('static', filename='icon/site.webmanifest')}}">
{% endblock %}
{% block html_atrib %}lang="en"{% endblock %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@forevolve/bootstrap-dark@1.0.0/dist/css/bootstrap-dark.min.css"/>
{% endblock %}
